[submodule ".registry"]
	path = .registry
	url = https://github.com/inqs909/inqs909.r-universe.dev
	branch = HEAD
[submodule "csustats"]
	path = csustats
	url = https://github.com/inqs909/csustats
[submodule "inqstools"]
	path = inqstools
	url = https://github.com/inqs909/inqstools
